*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(130,106,251);
}
.container{
    position: relative;
    max-width: 600px;
    width: 80%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
    text-decoration: underline rgba(0, 0, 0, 0.5);
}
.container .form{
    margin-top: 30px;
}
.form .form-group {
    width: 100%;
    margin-top: 10px;
}
 .form-group input{
   border-radius: 5px;
   position: relative;
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    /* padding: 0 15px;  */
}
.input-box label{
    color: #333;
}
/* .table tr th{
    justify-content: center;
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    margin-left: 2px;

}  */
